html,body, div, span, form,iframe,
h1, h2, h3, h4, h5, p, em, img, ol, ul, li {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
html{font-size: 62.5%;}
body {
  font-family: Helvetica, 'STXihei', 'STHeiti Light', 'Microsoft yahei', sans-serif;
  line-height: 1;
  background-color: #fff;
}


input {
  margin: 0;
  padding: 0;
  /*-webkit-appearance: none;*/
  border-style: none;
}

input {
  outline-style: none;
}

input[type="text"] {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
ol,
ul,
li {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*
a:link,
a:visited {
  text-decoration: none;
  color: #555555;
}*/
a {
  display: block;
  text-decoration: none;
}
.clear {
  clear: both;
}
.clearfix:after {
  content: "\0020";
  height: 0;
  display: block;
  clear: both;
  visibility: hidden;
}
.clearfix {
  *zoom: 1;
}

.floatl {
  float: left;
}

.floatr {
  float: right;
}

.shadow {
  -webkit-box-shadow: 1px 0px 3px #d9dbdd;
     -moz-box-shadow: 0px 1px 3px #d9dbdd;
          box-shadow: 0px 1px 3px #d9dbdd;
}

.hidden {
  display: none;
}

.show {
  display: block;
}
.display-flexbox {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;  
}
.flexbox-children {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}

html{
  height: 100%;
}
body{
  height: 100%;
  background: url(../img/bg.jpg) no-repeat center center;
  background-size: cover;
}
.logo{
  width: 166px;
  height: 31px;
  padding: 15px 0;
  margin: 0 auto;
  text-indent: -99999px;
  display: block;
  background: url(../img/logo.png) no-repeat center center;
  background-size: 166px 31px;
}
.diff_wrap{display: none;}
.diff_wrap.show{display: block;}
.diff{width: 287px;display: none;border: 1px solid #0c5184;padding: 0 0 35px 0;margin: 8px auto 0;border-radius: 4px;border-width: 0 1px 0 1px;}
.diff.show{display: block;}
.diff h1{width: 100%;text-align: center;color: #fff;font-size: 1.6rem;padding-bottom: 15px;margin-top: -8px;position: relative;z-index: 2;float: left;}
.diff h1::before,
.diff h1::after{width: 40px;height: 4px;content: '';position: absolute;left: 0;top: 0;margin: 7px 0 0;border-top: 1px solid #0c5184;border-radius: 4px 0 0 0;}
.diff h1::after{left: auto;right: 0;border-radius: 0 4px 0 0;}
.diff img{width: 100%;margin: 0 auto;display: block;border: none;}
/*area{border: .2rem solid #f06a2e;display: block;outline: red;}*/
.map{width: 259px;height: auto;margin: 0 auto 3px;position: relative;border: 1px solid #032155;clear: both;}
.map li{width: 26px;height: 26px;border-radius: 50%;position: absolute;top: 0;margin: 0;}
.map li.found{border: 2px solid #f16b2c;}

.map li.map_0_0{top: 3%;left: 24%;}
.map li.map_0_1{top: 3%;left: 68%;}
.map li.map_0_2{top: 26%;left: 15%;}
.map li.map_0_3{top: 24%;left: 40%;}
.map li.map_0_4{top: 33.5%;left: 85.5%;}

.map li.map_1_0{top: 47%;left: 5%;}
.map li.map_1_1{top: 16%;left: 36%;}
.map li.map_1_2{top: 82%;left: 32%;}
.map li.map_1_3{top: 82%;left: 77%;}
.map li.map_1_4{top: 80%;left: 89%;}

.map li.map_2_0{top: 54%;left: 3%;}
.map li.map_2_1{top: 9%;left: 6%;}
.map li.map_2_2{top: 0%;left: 29%;}
.map li.map_2_3{top: 22%;left: 43%;}
.map li.map_2_4{top: 51%;left: 76%;}

.map li.map_3_0{top: 1%;left: 16%;}
.map li.map_3_1{top: 67%;left: 16%;}
.map li.map_3_2{top: 78%;left: 24%;}
.map li.map_3_3{top: 76%;left: 44%;}
.map li.map_3_4{top: 55%;left: 52%;}

.diff_bottom{width: 261px;margin: -35px auto 0;position: relative;}
.diff_bottom::before,
.diff_bottom::after{width: 16px;height: 4px;content: '';position: absolute;left: 0;top: 0;margin: 31px 0 0 -12px;border-bottom: 1px solid #0c5184;border-radius: 0 0 0 4px;}
.diff_bottom::after{left: auto;right: 0;border-radius: 0 0 4px 0;margin: 31px -12px 0 0;}
.tip{line-height: 15px;color: #1dafec;font-size: 1rem;float: right;display: inline-block;background: #00285e;padding: 0 6px;border-radius: 3px;box-shadow: 2px 2px 2px #011543;margin: -2px 0 0;}
.time_wrap{clear: both;}
.count_wrap{width: 26px;height: 24px;font-size: 12px;padding: 7px 0 0 5px;background: url(../img/magnifier.png) no-repeat center center;background-size: 31px 31px;color: #fff;float: left;margin: 6px 0 0 8px;}
.time_right{margin: 0 0 0 45px;color: #20b3eb;text-shadow: 1px 1px 1px #021231;font-size: 12px;overflow: hidden;}
.countdown{width: 178px;height: 10px;margin: 0 5px 0 0;display: inline-block;background: #000;border: 1px solid #061c41;border-bottom-color: #2b63c1;border-radius: 5px;box-shadow: 0 0 6px #093e90, 0 0 6px #093e90, 0 0 6px #093e90;float: left;}
.countdown_bar{width: 178px;height: 10px;background: url(../img/countdown_bar.jpg) repeat-x 0 0;background-size: 7px 20px;border-radius: 5px;}
.countdown_bar.countdown_bar_red{background-position: 0 bottom;}
.time_right small{display: block;color: #858585;font-size: 8px;padding-bottom: 3px;}
.time_left_wrap{float: left;}

@media screen and (max-height: 479px){
  .logo{padding: 10px 0;}
  .map{width: 220px;}
  .map li{width: 22px;height: 22px;}
  .diff h1::before,
  .diff h1::after{width: 28px;}

  .diff{width: 260px;}
  .diff_bottom{width: 220px;}
  .diff_bottom::before{width: 21px;margin-left: -20px;}
  .diff_bottom::after{width: 21px;margin-right: -20px;}
  .countdown{width: 140px;}
}

.intel_wrap{
  display: none;
}
.intel_wrap.active{
  display: block;
}
.intel_begin{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.intel_begin .intel_begin_title{
  color: #fff;
  font-size: 2.8rem;
  font-weight: bold;
  text-align: center;
  line-height: 2.8rem;
}
.intel_img_select{
  width: 274px;
  margin:0 auto;
  margin-top: 20px;
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
  -webkit-align-items: stretch;
  display: -moz-flex;
  -moz-flex-flow: row wrap;
  -moz-align-items: stretch;
  display: -ms-flex;
  -ms-flex-flow: row wrap;
  -ms-align-items: stretch;
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;

    justify-content: space-between;
}
.intel_img_select .intel_img_item{
  height: 84px;
  width: 131px;
  margin-bottom: 6px;
  background: #fff;
  border:2px #00113f solid;
  border-radius: 2px;
  position: relative;
}
.intel_img_item img{
  height: 84px;
  width: 131px;
}
.intel_img_item .intel_img_light_box{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.55);
  z-index: 9px;
}
.intel_img_item .intel_img_btn{
  display: none;
  position: absolute;
  width: 43px;
  height: 25px;
  top: 50%;
  left: 50%;
  margin-top: -12px;
  margin-left: -22px;
  background: url(../img/intel_begin_btn.png) no-repeat;
  background-size: 43px 25px;
  z-index: 8;
}
.intel_img_item.active .intel_img_light_box{
  display: none;
}
.intel_img_item.active .intel_img_btn{
  display: block;
}
.intel_event_body{
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
  z-index: 10;
}
.intel_game_des{
  position: absolute;
  height: 164px;
  width: 100%;
  bottom: 0;
}
.intel_game_des .intel_person{
  position: absolute;
  bottom: 0px;
  right: 6px;
  width: 104px;
  height: 164px;
  background: url(../img/intel_person_bottom.png) no-repeat;
  background-size: 104px 164px;
}
.intel_game_tip{
  position: absolute;
  bottom: 64px;
  right: 105px;
  width: 172px;
  padding: 8px 10px 8px 6px;
  line-height: 1.2rem;
  height: 36px;
  background: url(../img/intel_dialog.png) no-repeat;
  background-size: 186px 46px;
  color: #1dafec;
}
.intel_it_link{
  display: block;
  position: absolute;
  bottom: 28px;
  right: 116px;
  padding: 4px;
  padding-right: 8px;
  font-size: 0.8rem;
  color: #1dafec;
  border:1px rgba(24, 182, 255, 0.59) solid;
  background: url(../img/intel_angle_right.png) no-repeat;
  background-position: right center;
  -webkit-background-size: 5px 4px;
  background-size: 5px 4px;
}
.intel_over{
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:rgba(0, 0, 0, 0.8);
}
.intel_over .intel_over_share{
  position: absolute;
  top: 10px;
  right: 10px;
  color: #fffffd;
  background:rgba(0,0,0,0.6);
  border:1px rgba(255,255,255,0.3) solid;
  padding:4px 20px 4px 14px;
  font-size: 1.2rem;
  background: url(../img/intel_angle_r.png) no-repeat;
  background-position: 116px center;
  -webkit-background-size: 6px 10px;
  z-index: 40;
}
.intel_over .intel_over_share.active{
  background: url(../img/intel_angle_up.png) no-repeat;
  background-position: 102px center;
  -webkit-background-size: 10px 6px ;
}

.intel_over_pass .intel_over_person{
  width: 115px;
  height: 202px;
  position: absolute;
  left: 0;
  top: 66px;
  background: url(../img/intel_person_left.png) no-repeat;
  background-size: 115px 202px;
}
.intel_over .intel_over_dialog{
  position: absolute;
  height: 120px;
  width: 144px;
  left: 50%;
  top: 150px;
  margin-left: -72px;
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.6rem;
  color: #00d2ff;
}
.intel_over .intel_hotlink{
  display: block;
  position: absolute;
  width: 32px;
  height: 32px;
  left: 50%;
  bottom: 6px;
  margin-left: -16px;

}
.intel_over_pass .intel_over_dialog{
  background: url(../img/intel_ribbon_pass.png) no-repeat;
  background-size: 144px 120px;
}
.intel_over_fail .intel_over_person{
  width: 134px;
  height: 108px;
  position: absolute;
  left: 50%;
  top: 42px;
  margin-left: -67px;
  background: url(../img/intel_person_up.png) no-repeat;
  background-size:134px 108px ;
}
.intel_over_fail .intel_over_dialog{
  background: url(../img/intel_ribbon_fail.png) no-repeat;
  background-size: 144px 120px;
}

.intel_over_dialog span{
  display: inline-block;
  font-size: 1.1rem;
  font-weight: normal;
  margin-top: 16px;
  color: #fff;
}
.intel_over_ctrl{
  position: absolute;
  height: 130px;
  width: 100%;
  left: 0;
  bottom: 0;
}
.intel_over_ctrl .intel_ctrl_btn{
  display: block;
  color: #fff;
  margin:0 auto;
  margin-bottom: 20px;
  font-size: 1rem;
  border:1px rgba(255,255,255,0.37) solid;
  background: url(../img/intel_ctrl_icon.png) no-repeat;
  -webkit-background-size: 17px 56px;
  background-size: 17px 56px;
}
.intel_over_ctrl .intel_ctrl_btn.intel_ctrl_other{
  width: 96px;
  padding:6px 6px 6px 22px;
  background-position: 2px 2px;
}
.intel_over_ctrl .intel_ctrl_btn.intel_ctrl_link_it{
  width: 96px;
  padding:6px 0px 6px 28px;
  background-position: 2px -36px;
}
@media screen and (max-height:479px){
  .intel_begin .intel_begin_title{
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    line-height: 2.2rem;
  }
  .intel_img_select{
    margin-top: 10px;
  }
  .intel_over .intel_over_dialog{
    top: 130px;
  }
  .intel_over_pass .intel_over_person{
    top: 50px;
  }
  .intel_over_fail .intel_over_person{
    top: 22px;
  }
}